html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #232133;
}
.container{
    display: grid;
    grid-template: 100vh 40vh 10vh 1fr 3fr 1fr; 
    grid-template-areas: "h h n" "a a ar ar s" "f f f"; 
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
header{
background: white;
width: 100vh;
grid: h;
}
nav{
background: blue;
width: 40vh;
grid: n;
}
.container-1
aside{
background: green;
width: 40vh;
grid: a;
}
article{
background: grey;
width: 10vh;
grid: ar;
}
section{
background: gold;
width: 10vh;
grid: s;
}
footer{
background: red;
width: 100vh;
grid: f;
}