html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #d0b8ac
}

.container {
    display: grid;
    grid-template-areas:
        "h h h h h"
        "n s s s a"
        "f f f f f";
}
header {
    grid-area: h;
    background: #d4a98e;
    height: 15vh;
}

nav {
    background: #ccb29c;
    grid-area: n;
    height: 60vh;
}

section {
    background: #beac91b2;
    grid-area: s;
    height: 60vh;
    display: grid;
    grid-template-areas:"he" "art" "fo";
}
.a{
    background: red;
    height: 40vh;
}
.h{
    background: blue;
    height: 8vh;
}
.f{
    background: green;
    height: 4.8vh;
}
section header {
    background: #f1f1f1b9;
    grid-area: s;
    height: 10vh;

}

section article {
    background: #c9ba9f88;
    grid: s;
    height: 30vh;

}

section footer {
    background: #c4b5a0ab;
    grid: s;
    height: 15vh;

}

aside {
    background: #dab778;
    grid: a;
    height: 60vh;

}

footer {
    background: #b18c48;
    grid: f;
    height: 70px;
    width: 30vw;

}