html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #232133;
}

.container {
    display: grid;
    grid-template: repeat(5 1fr);
    grid-template-areas:
     "h h"
     "a art"
     "a sec"
     "f f";
     grid-gap: 10px;
}

header {
    background: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    grid-area: h;
}

nav {
    background: blue;
    align-self: flex-end;
    width: 70em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-left: 10px;
}

aside {
    background: green;
    height: 80vh;
    grid-area: a;
}

article {
    background: grey;
    height: 40vh;
    grid-area: art;
}

section {
    background: gold;
    height: 40vh;
    grid-area: sec;
}

footer {
    background: red;
    height: 10vh;
    grid-area: f;
}