@import url(../aula4-flexbox/styles/reset.css);

body{
    background: rgb(108, 173, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: white;
}
header{
    margin: 10px;
    width: 100vw;
    height: 150px;
    border: 1px solid;
    text-align: center;
    padding-top: 30px;
    background: rosybrown;
}
@media screen and (max-width:1280px) {
    body{
        background: orange;
    }
    header{
        height: 100px;
    }
}
@media screen and (max-width:768px) {
    body{
        background: blue;
    }
    header{
        height: 50px;
    }
}
@media screen and (max-width:320px) {
    body{
        background: wheat;
    }
    header{
        height: 45px;
    }
}
