table{
    margin-top: 120px;
    border: none;
}
thead, tfoot{
    background: #2980b9;
    color:white;
}
thead th, tfoot th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    height: 25px;
}
tbody td{
    color: #2c3d50;
    padding-left: 5px;
}
tbody tr:nth-child(odd){
    background: #bdc3c7;
}




.custom-shape-divider-top-1653305633 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1653305633 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 194px;
}

.custom-shape-divider-top-1653305633 .shape-fill {
    fill: #1a1353;
}